<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yackconsumer.yackconsumer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YackConsumer"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AlarmAddActivity"
            android:exported="true" />
        <activity
            android:name=".AlarmActivity"
            android:exported="true" />
        <activity
            android:name=".MembershipFinshActivity"
            android:exported="true" />
        <activity
            android:name=".MembershipActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".PmReceiveDetailActivity"
            android:exported="true" />
        <activity
            android:name=".PmReceiveActivity"
            android:exported="true" />
        <activity
            android:name=".CalenderOpen"
            android:exported="true"/>
        <activity
            android:name=".LodingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MdPriceResultActivity"
            android:exported="true" />
        <activity
            android:name=".MdPriceActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".FirstMainActivity"
            android:exported="true" />
        <activity
            android:name=".MdSearchActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".MdSearchResultActivity" />
        <activity android:name=".ProvisionActivity" />
        <activity android:name=".Provision2Activity" />
    </application>

</manifest>